.hiring__title {
  letter-spacing: 0.0313rem;
  margin-bottom: 6.25rem;
}

.hiring__card {
  position: relative;
  padding: 0.625rem;
  text-align: center;
}

.hiring__card:not(:last-child)::after {
  position: absolute;
  content: "";
  right: -6.25rem;
  top: 30%;
  transform: translateY(-50%);
  background: url(/img/icon-arrow-right.png) center / contain no-repeat;
  width: 13.125rem;
  height: 1.875rem;
}

.hiring__card-number {
  font-size: 3.125rem;
  color: var(--color-primary);
  font-family: var(--neue-fonts);
  border: 0.25rem solid var(--color-primary);
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto 3.125rem;
  text-align: center;
}

.hiring__card-desc {
  color: var(--color-secondary);
  font-size: 1.375rem;
  font-weight: bold;
  max-width: 80%;
  margin-inline: auto;
  text-transform: capitalize;
}

@media (max-width: 1440px) {
  .hiring__title {
    margin-bottom: 5rem;
  }
}

@media (max-width: 1280px) {
  .hiring__title {
    margin-bottom: 4rem;
  }

  .hiring__card-number {
    width: 5.6rem;
    height: 5.6rem;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .hiring__card-desc {
    font-size: 1.125rem;
    max-width: 100%;
  }

  .hiring__card:not(:last-child)::after {
    width: 10rem;
    height: 1.875rem;
    right: -4.25rem;
  }
}

@media (max-width: 1024px) {
  .hiring__card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .hiring__card:not(:last-child)::after {
    width: 7rem;
    height: 1.875rem;
    right: -2.5rem;
  }
}

@media (max-width: 768px) {
  .hiring__title {
    margin-bottom: 3rem;
  }

  .hiring__card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .hiring__card:not(:last-child)::after {
    width: 7rem;
    height: 1.875rem;
    right: -2.5rem;
  }

  .hiring__card-wrapper {
    gap: 5.625rem;
  }

  .hiring__card:not(:last-child)::after {
    width: 5rem;
    height: 20px;
    right: unset;
    top: 95%;
    left: 46%;
    transform: translate(50%, 50%);
    rotate: 90deg;
  }

  .hiring__card-number {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .hiring__card-desc {
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) {
  .hiring__card:not(:last-child)::after {
    left: 44.5%;
  }
}

@media (max-width: 480px) {
  .hiring__card:not(:last-child)::after {
    left: 42%;
  }
}