html {
  font-size: 16px !important;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

.pageWidth {
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 90rem) {
    max-width: 90%;
  }
}

.btn {
  display: inline-block;
  background: transparent;
  padding: 0.9375rem 2.5rem;
  outline: none;
  font-family: "Inter", sans-serif;
  border: 0.0625rem solid #003a37;

  @media (max-width: 1024px) {
    padding: 0.625rem 1.875rem;
  }
}

.titleUnderline {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    border-radius: 1.5625rem;
    left: 0;
    bottom: 20%;
    width: 100%;
    z-index: -1;
    height: 1.75rem;
    transform: translateY(50%);
    background: #aeff65;

    @media (max-width: 768px) {
      height: 1rem;
    }

    @media (max-width: 480px) {
      height: 0.625rem;
    }
  }
}

.titleNeue {
  font-family: "Neue Pixel Grotesk";
}

.sectionTitle {
  font-size: 3.125rem;
  line-height: 1.4;
  color: #003a37;
  margin-bottom: 1.5625rem;
  font-weight: 400;
  text-align: center;
  font-family: "Helvetica Neue";

  @media (max-width: 1440px) {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
  }

  @media (max-width: 1024px) {
    line-height: 1.3;
    font-size: 2rem;
  }

  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

.sectionDesc {
  font-size: 1rem;
  line-height: 1.4;
  color: #003a37;

  @media (max-width: 480px) {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #003a37;
  }
}

.sectionMargin {
  margin-block: 6.25rem 18rem;

  @media (max-width: 1440px) {
    margin-block: 5rem 14.4rem;
  }

  @media (max-width: 1024px) {
    margin-block: 4rem 11.52rem;
  }

  @media (max-width: 768px) {
    margin-block: 3.2rem 9.2rem;
  }

  @media (max-width: 480px) {
    margin-block: 3.2rem 6.25rem;
  }
}

.gridColumn3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

body {
  background: #ffffff;
  font-family: "Inter", sans-serif;
}

@media only screen and (max-width: 1600px) and (min-width: 1300px) {
  .pageWidth {
    max-width: 85%;
  }

  .header {
    gap: 5rem;
    padding: 4rem;
  }

  .headerTitle {
    font-size: 4.125rem;
  }

  .headerImage {
    gap: 2rem;
  }

  .headerImageOne {
    width: 10.625rem;
    height: 7.5rem;
  }

  .headerImageTwo {
    height: 9rem;
  }

  .reviewsCard .reviewsDesc {
    font-size: 1.125rem;
  }
}

.thankyouContainer {
  padding-top: 100px;
  text-align: center;
}

.thankYouTitle {
  font-size: 66px;
  margin-bottom: 10px;
  line-height: 66px;
  color: #003a37;
}

.thankYouDesc {
  font-size: 44px;
  line-height: 1;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
  color: #003a37;
}

.thankYouDesc::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  background: #003a37;
  height: 1px;
  width: 100px;
  bottom: 0;
}

.thankYouSubDesc {
  font-size: 18px;
  line-height: 24px;
  color: #003a37;
  margin-bottom: 20px;
}

.bookCallBtnWrapper {
  margin-bottom: 30px;
}

.bookCallBtn {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 99px;
  outline: none;
  border: 1px solid transparent;
  background: #003a37;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.bookCallBtn:hover {
  border-color: #003a37;
  background: transparent;
  color: #003a37;
}

.returnHomeBtn {
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  font-size: 12px;
  padding-bottom: 5px;
  letter-spacing: 2.4px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  color: #003a37;
}

.returnHomeBtn > h2 {
  font-size: 12px;
}

.returnHomeBtn::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  background: #003a37;
  height: 1px;
  width: 100%;
  bottom: 0;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.returnHomeBtn:hover::after {
  opacity: 0;
}