.talent__title {
  margin-bottom: 3.125rem;
}

.talent__desc {
  font-size: 1rem;
  text-align: center;
  max-width: 31.25rem;
  margin-inline: auto;
  margin-bottom: 3.125rem;
  font-family: var(--secondary-fonts);
}

.talent__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

.talent__card {
  padding: 1.25rem 1.75rem;
  border: 0.0625rem solid var(--color-secondary);
  border-radius: 1.5625rem;
  text-align: center;
  cursor: pointer;
  transition: 0.3s all;
}

.talent__card:hover {
  background: var(--color-primary);
}

.talent__card-image {
  width: 10.5625rem;
  height: 10.5625rem;
  border: 0.3125rem solid var(--color-primary);
  border-radius: 50%;
  margin-inline: auto;
  margin-bottom: 1.5625rem;
  transition: 0.3s all;
}

.talent__card:hover .talent__card-image {
  border-color: var(--color-white);
}

.talent__card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.talent__card-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.talent__card-banner img {
  width: 2.8125rem;
  height: 2.8125rem;
  object-fit: cover;
}

.talent__card-hourly {
  display: block;
  width: fit-content;
  margin-left: auto;
  padding: 0.3125rem 0.6875rem;
  border-radius: 1.5625rem;
  background: var(--color-primary);
  color: var(--color-secondary);
  transition: 0.3s all;
}

.talent__card:hover .talent__card-hourly {
  background: var(--color-white);
}

.talent__card-name {
  font-size: 1.375rem;
  color: var(--color-secondary);
  margin-bottom: 1.5625rem;
}

.talent__card-tags {
  display: flex;
  justify-content: center;
  row-gap: 1.25rem;
  column-gap: 0.625rem;
  flex-wrap: wrap;
}

.talent__card-tags span {
  display: block;
  color: var(--color-secondary);
  border: 0.0625rem solid var(--color-secondary);
  padding: 0.3125rem 0.625rem;
  border-radius: 1.5625rem;
  font-weight: 300;
}

.talent__btn {
  display: block;
  margin: 5rem auto 0;
  padding: 1rem 1.875rem;
  background: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 1.5625rem;
  width: fit-content;
  font-weight: 700;
  transition: 0.3s all;
}

.talent__btn:hover {
  color: var(--color-secondary);
  background: var(--color-primary);
}

@media (max-width: 1440px) {
  .talent__title {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 1280px) {
  .talent__cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .talent__btn {
    margin-top: 4rem;
    padding: 0.625rem 1.5625rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 1024px) {
  .talent__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .talent__card {
    padding: 1rem;
  }

  .talent__card-banner img {
    width: 2rem;
    height: 2rem;
  }

  .talent__card-hourly {
    font-size: 0.875rem;
  }

  .talent__card-image {
    width: 6.25rem;
    height: 6.25rem;
    margin-bottom: 1rem;
  }

  .talent__card-name {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .talent__cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .talent__card-tags {
    row-gap: 0.625rem;
    column-gap: 0.3125rem;
  }

  .talent__card-tags span {
    padding: 0.3125rem;
    font-size: 0.75rem;
  }

  .talent__btn {
    margin-top: 2rem;
    padding: 0.3125rem 1.5625rem;
    font-size: 12px;
  }
}