.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2rem;
}

.navbar__logo {
  display: flex;
  max-width: 11.25rem;
}

.navbar__logo img {
  width: 100%;
}

.navbar__links {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-light-gray);
  border-radius: 1.5625rem;
}

.navbar__link {
  display: flex;
}

.navbar__link a {
  font-size: 1rem;
  padding: 0.625rem 3.4375rem;
  color: var(--color-secondary);
  font-family: var(--secondary-fonts);
}

@media (max-width: 768px) {
  .navbar {
    padding-block: 1.5625rem;
  }

  .navbar__logo {
    max-width: 9.375rem;
  }

  .navbar__link a {
    font-size: 0.875rem;
    padding: 0.5rem 1.5625rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding-block: 1.25rem;
  }

  .navbar__logo {
    max-width: 6.25rem;
  }

  .navbar__link a {
    font-size: 0.625rem;
    padding: 0.3125rem 1.25rem;
  }
}

@media (max-width: 400px) {
  .navbar__link a {
    padding: 0.3125rem 1rem;
  }
}